body {
    margin: 0;
    padding: 0;
}

#background-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.3;
    z-index: -1;
}

#foreground {
    margin: 0 auto;
    width: 60%;
}

header {
    background: #004a98;
    height: 100px;
    display: flex;
}

header .img-thumbnail {
    margin: auto 15px;
    height: 70%;
}

#headings {
    display: block;
    color: whitesmoke;
}

nav {
    background: #004a98;
}

main {
    padding: 15px;
    background: rgba(245,245,245,0.7);
}

footer {
    font-size: smaller;
    text-align: center;
}